<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/all.css" />
    <script src="/js/all.js"></script>
</head>
<body ng-app="gohubApp" ng-cloak>

<nav class="uk-navbar uk-navbar-attached bg-blue">
    <div class="uk-container uk-container-center">
        <ul class="uk-navbar-nav">
            <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                <a href="#">Log</a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="/logs/info">Info</a></li>
                        <li><a href="/logs/error">Error</a></li>
                    </ul>
                </div>
            </li>
            {{ if .User }}
            <li><a href="/repos/{{ .User }}">Repositories</a></li>
            <li><a href="/servers/{{ .User }}">Servers</a></li>
            {{ end }}
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                {{ if .User }}
                    <li>
                        <a href="/logout" class="uk-navbar-nav-subtitle">Logout<div>{{ .User }}</div></a>
                    </li>
                {{ else }}
                    <li><a href="/login">Login</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

{{ yield }}

</body>
</html>