<div ng-controller="reposController">

    <div class="section bg-red text-white">
        <div class="uk-container uk-container-center uk-text-center">

            <h2>Add GitHub repository</h2>
            <form class="uk-form">
                <div class="uk-form-row">
                    <input class="uk-form-width-large" ng-model="repo.user" type="text" placeholder="User">
                </div>
                <div class="uk-form-row">
                    <input class="uk-form-width-large" ng-model="repo.repository" type="text" placeholder="Repository">
                </div>
                <div class="uk-form-row">
                    <input class="uk-form-width-large" ng-model="repo.token" type="text" placeholder="GitHub token">
                </div>
                <div class="uk-form-row">
                    <button class="uk-button" type="button" ng-click="addRepository(repo)">Add repository</button>
                </div>
            </form>

        </div>
    </div>

    <div class="section">
        <div class="uk-container uk-container-center">

            <table class="uk-table uk-table-striped">
                <caption>Active repositories</caption>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Repository</th>
                        <th>Builds</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repositories.data">
                        <td>[[repo.user]]</td>
                        <td>[[repo.repository]]</td>
                        <td><a ng-href="/repos/[[repo.user]]/[[repo.repository]]">Link</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
