<div class="uk-container uk-container-center uk-margin-top">

    <h1>Login</h1>
    <form class="uk-form uk-margin" action="/login" method="post">
        <div class="uk-form-row">
            <input class="uk-form-width-large" type="text" name="token" placeholder="Github token">
        </div>
        <div class="uk-form-row">
            <button class="uk-button" type="submit">Войти</button>
        </div>
    </form>

</div>