<div class="uk-container uk-container-center uk-margin-top">

    <h1>Repositories</h1>

    <table class="uk-table">
        <caption>Gohub repositories</caption>
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th>URL</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{ range $key, $value := .Data.Gohub }}
        <tr>
            <td>{{ $value.Name }}</td>
            <td><a href="/repos/{{$value.Login }}/{{ $value.Name }}">{{ $value.Login }}/{{ $value.Name }}</a></td>
            <td>
                {{ if $value.Enabled }}
                <span class="uk-badge uk-badge-success">Active</span>
                <a href="/repos/{{$value.Login }}/{{ $value.Name }}/enable">Disable</a>
                {{ else }}
                <a href="/repos/{{$value.Login }}/{{ $value.Name }}/enable">Enable</a>
                {{ end }}
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>

</div>