<div>

    <div class="section-medium">
        <div class="uk-container uk-container-center ">

            <h2>{{ .params.user }} / {{ .params.repo }}</h2>
            <a href="#" class="uk-icon-button uk-icon-github"></a> Set github pull-request hook

        </div>
    </div>
    {{ .builds }}
    <div class="section-medium">
        <div class="uk-container uk-container-center ">

            <table class="uk-table uk-table-striped">
                <caption>Pull requests</caption>
                <thead>
                    <tr>
                        <th>Build</th>
                        <th>Message</th>
                        <th>Commit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>