<div>

    <div class="section-medium bg-light">
        <div class="uk-container uk-container-center">

            <h2>{{ .params.user }} / {{ .params.repo }}</h2>
            <!--<a href="#" class="uk-icon-button uk-icon-github"></a> Set github pull-request hook-->

        </div>
    </div>
    <div class="section-medium">
        <div class="uk-container uk-container-center ">

            <table class="uk-table uk-table-striped">
                <caption>Events</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Commit</th>
                        <th>Build Id</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $index, $build := .builds }}
                    <tr {{if $.params.build}}{{if eq $.params.build $build.GetId}} class="uk-text-bold"{{end}}{{end}}>
                        <td>{{$index}}</td>
                        <td>
                            <a target="_blank" href="https://github.com/{{ $build.Branch.Owner }}/{{ $build.Branch.Repo }}/commit/{{ $build.Branch.Sha }}">
                                <i class="uk-icon-github"></i>
                            </a>
                            {{ $build.Branch.Sha }}
                        </td>
                        <td>
                            <a href="/repos/{{ $build.Branch.Owner }}/{{ $build.Branch.Repo }}/{{ $build.GetId }}">
                                {{ $build.GetId }}
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>

            {{ if .build.Commands }}
            <table class="uk-table uk-margin-large-top bg-black text-white uk-table-condensed">
                <thead class="bg-dark">
                    <tr>
                        <th width="15%">Build log</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $a, $build := .build.Commands }}
                    <tr>
                        <td>> {{ $build.Type }}: {{ $build.Action }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ $build.Out }}
                            <span class="uk-text-danger">{{ $build.Err }}</span>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{end}}

        </div>
    </div>

</div>