<div class="uk-container uk-container-center uk-margin-top">

    <h1>Repositories</h1>

    <table class="uk-table">
        <caption>Gohub repositories</caption>
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th>URL</th>
            <!--<th class="uk-text-right" width="10%">Menu</th>-->
        </tr>
        </thead>
        <tbody>
        {{ range $key, $value := .Data.Github }}
        <tr>
            <td>{{ $value.Name }}</td>
            <td><a href="/repos/{{$value.Owner.Login }}/{{ $value.Name }}">{{ $value.Owner.Login }}/{{ $value.Name }}</a></td>
            <!--<td class="uk-text-right"><a class="uk-button uk-button-danger" href="/repos/{{ $value.Owner.Login }}/{{ $value.Name }}/delete"><i class="uk-icon-times"></i></a></td>-->
        </tr>
        {{ end }}
        </tbody>
    </table>

    <!--<table class="uk-table">-->
        <!--<caption>Github repositories</caption>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th width="50%">Name</th>-->
            <!--<th>HTMLURL</th>-->
            <!--<th class="uk-text-right" width="10%">Menu</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{{ range $key, $value := .Data.Github }}-->
        <!--<tr>-->
            <!--<td>{{ $value.Name }}</td>-->
            <!--<td><a href="{{ $value.HTMLURL }}" target="_blank">{{ $value.HTMLURL }}</a></td>-->
            <!--<td class="uk-text-right"><a class="uk-button uk-button-success" href="/repos/{{ $.User }}/{{ $value.Name }}/add"><i class="uk-icon-plus"></i></a></td>-->
        <!--</tr>-->
        <!--{{ end }}-->
        <!--</tbody>-->
    <!--</table>-->

</div>