<div class="uk-container uk-container-center uk-margin-top">

    <img class="uk-border-circle" width="120" height="120" src="{{.Data.Repo.Owner.AvatarURL}}" alt="">

    <h3><a href="{{.Data.Repo.HTMLURL}}">{{.Data.Repo.FullName}}</a></h3>
    <small>Default branch <strong>{{.Data.Repo.DefaultBranch}}</strong></small>

    <table class="uk-table">
        <caption>Branches</caption>
        <thead>
        <tr>
            <th width="30%">Name</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {{ range $key, $value := .Data.Branches }}
        <tr>
            <td>{{ $value.Ref }}</td>
            <td><a href="/repos/{{$.Data.Repo.Owner.Login}}/{{$.Data.Repo.Name}}/commit/{{ $value.Object.SHA }}">{{ $value.Object.SHA }}</a></td>
        </tr>
        {{ end }}
        </tbody>
    </table>

    <table class="uk-table">
        <caption>Hooks</caption>
        <thead>
        <tr>
            <th width="30%">Name</th>
            <th>Events</th>
            <th>Active</th>
            <th>Url</th>
        </tr>
        </thead>
        <tbody>
        {{ range $key, $value := .Data.Hooks }}
        <tr>
            <td>{{ $value.Name }}</td>
            <td>{{ $value.Events }}</td>
            <td>
                {{ if $value.Active }}
                <span class="uk-badge uk-badge-success">Active</span>
                {{else}}
                <span class="uk-badge uk-badge-danger">Disabled</span>
                {{end}}
            </td>
            <td>
                {{ $value.Config.url }}
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>

</div>